<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit your chat</title>
    <link rel="stylesheet" href="/edit.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="mainbd">
    <p class="id">Edit your chat: <%= chat._id %></p>
    <p class="details">This chat was sent from <B><%= chat.from %></B> to <B><%=chat.to %></B></p>
    
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
    <div class="form-floating">
    <textarea rows="20" cols="50" class="form-control"  name="msg"><%= chat.msg %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    </div>
</body>
</html>